{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page 2</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcom to the Network Porgrammer Portal. Here we will be talking about how we can simplify the day to day activities by automating the networks we work on.</p>
            <p>Go visit our <a href="https://github.com/aresik/CiscoOOBconfiguration">GitHub</a> or <a href="https://youtu.be/_qLU8UlwMV8">Youtube</a> pages.</p>
            <p>
                <a class="btn btn-primary" href="/routers" role="button">Go to Routers &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}